* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/footer_lodyas.png")
}

#header {
    height: 15%;
    border: solid thick black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/zwartevilt_@2x.jpg");
}

#logo{
    transform: scale(1.2);
}

.title {
    color: white;
    font-size: 5vw;
    font-weight: bolder;
    text-shadow: 0px 0px 10px #e41111;
}

.subtitle {
    text-align: center;
    color: white;
    font-size: 3vw;
    font-weight: bolder;
    text-shadow: 0px 0px 10px rgb(228, 17, 17);
}

.subtitle2 {
    text-align: center;
    color: white;
    font-size: 2vw;
    font-weight: bolder;
    text-shadow: 0px 0px 10px rgb(228, 17, 17);
}

#header img {
    height: 5vw;
}

#mainContainer {
    width: 100%;
    height: 100%;
}

#moviesContainer {
    height: 85%;
    width: 100%;
}

#movies {
    height: 30%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
}

.movie {
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
    width: 150px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
}

.name {
    position: relative;
    width: 100%;
    height: 100%;
    top: 225px;
    text-align: center;
}

.name a {
    font-size: 1vw;
    color: white;
}

.details {
    height: 80%;
    width: 95%;
    border: thick solid transparent;
    background-image: url("../img/zwartevilt_@2x.jpg");
    border-image: url("../img/zwartevilt_@2x.jpg") 50 round;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    offset-inline-end: 1%;
}

.details>button {
    width: 10%;
    height: 15%;
    font-size: 2vw;
}

.sinopsis {
    font-size: 1.5vw;
    padding-left: 25%;
    padding-right: 5%;
    color: white;
}

#formDiv {
    padding-bottom: 2.5vw;
    width: 30%;
    background-image: url("../img/footer_lodyas.png");
    border: thick solid transparent;
    border-image: url("../img/zwartevilt_@2x.jpg") 20 round;
    z-index: 5;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

#formDiv label {
    font-size: 2vw;
    color: white;
}

input {
    font-size: 1.5vw;
}

#formDiv>p {
    margin: 5%;
}

#form>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
}

#form button {
    font-size: 1.5vw;
    padding: 5px;
}

#footer{
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    align-items: center;
    background-image: url("../img/zwartevilt_@2X.jpg");
    height: 5%;
    width: 100%;
    border: solid thick black;
    color: white;
    position: fixed;
    bottom: 0;
}

.free{
    fill: green !important;
}

.busy{
    fill: red !important;
}

.selected{
    fill: blue !important;
}

@media screen and (max-width: 375px) {
    .title {
        font-size: 10vw;
    }
    #form button {
        font-size: 8vw;
    }
    #formDiv label {
        font-size: 8vw;
        color: white;
    }
    .sinopsis {
        font-size: 5vw;
        padding-left: 5%;
        padding-right: 5%;
        color: white;
    }
    .details {
        min-height: 90%;
        width: 95%;
        border: thick solid transparent;
        background-image: url("../img/zwartevilt_@2x.jpg");
        border-image: url("../img/zwartevilt_@2x.jpg") 50 round;
        position: relative;
    }

    .details>button {
        position: relative;
        width: 20vw;
        height: auto;
        font-size: 4vw;
        bottom:0;
        margin-left: 35vw;
    }

    .title {
        color: white;
        font-size: 10vw;
        font-weight: bolder;
        text-shadow: 0px 0px 10px rgb(228, 17, 17);
    }
    
    .subtitle {
        text-align: center;
        color: white;
        font-size: 8vw;
        font-weight: bolder;
        text-shadow: 0px 0px 10px rgb(228, 17, 17);
    }

    .subtitle2 {
        text-align: center;
        color: white;
        font-size: 7vw;
        font-weight: bolder;
        text-shadow: 0px 0px 10px rgb(228, 17, 17);
    }
}